<h1>Editing firearm</h1>

<% form_for(@firearm) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :caliber %><br />
    <%= f.text_field :caliber %>
  </p>
  <p>
    <%= f.label :times_fired %><br />
    <%= f.text_field :times_fired %>
  </p>
  <p>
    <%= f.label :last_clean_date %><br />
    <%= f.date_select :last_clean_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @firearm %> |
<%= link_to 'Back', firearms_path %>