<h1>Listing knives</h1>

<table>
  <tr>
    <th>Length</th>
  </tr>

<% @knives.each do |knife| %>
  <tr>
    <td><%=h knife.length %></td>
    <td><%= link_to 'Show', knife %></td>
    <td><%= link_to 'Edit', edit_knife_path(knife) %></td>
    <td><%= link_to 'Destroy', knife, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New knife', new_knife_path %>